[Unit]
Description=Anycast healthchecker
After=network.service
Requires=network.service
Documentation=https://github.com/unixsurfer/anycast_healthchecker/blob/master/README.rst

[Service]
EnvironmentFile=/etc/sysconfig/anycast-healthchecker
TimeoutStartSec=0
User=healthchecker
Group=healthchecker
ExecStart=/opt/blue-python/3.4/bin/anycast-healthchecker $OPTIONS

[Install]
WantedBy=multi-user.target
