[Unit]
Description=Anycast healthchecker
After=network.target
Requires=network.target
Documentation=https://github.com/unixsurfer/anycast_healthchecker/blob/master/README.rst

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/anycast-healthchecker
TimeoutStartSec=0
User=healthchecker
Group=healthchecker
ExecStart=/usr/bin/anycast-healthchecker $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
